@keyframes animrotate {
    from {
        transform: rotateZ(0deg);
    }

    to {
        transform: rotateZ(360deg);
    }
}


@keyframes moveIndeterminate {
    from {
        background-position: 200% 0;
    }
    
    to {
        background-position: -200% 0;
    }
}