@use '../nuclide' as *;

@mixin base {
    border-collapse: collapse;
    width: 100%;
}

@mixin complex {
    border: 1px solid $color-border;

    th, td {
        border: 1px solid $color-border;
        padding: 1rem;
    }
}


@mixin simple {
    tr {
        border-top: 1px solid $color-border;
    }
    
    th, td {
        padding: 1rem;
        text-align: left;
    }
}


@mixin caption {
    caption-side: bottom;
    margin-top: 1rem;
    font-style: italic;
    text-align: right;
}